@model IEnumerable<TSP_ASPLayer.WcfService.Festival>

@{
    ViewBag.Title = "Festival List";
}
<div class="jumbotron">
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        @item.Name.ToUpper()
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="label label-primary">When:</span> 
                            @item.DateAndTime.ToString("MMM dd, yyyy @HH:mm")
                        </li>
                        <li class="list-group-item">
                            <span class="label label-primary">Where:</span>
                            @item.Location.Name
                        </li>
                        <li class="list-group-item">
                            <span class="label label-primary">Seats:</span>
                            @item.Location.Capacity
                        </li>
                        <li class="list-group-item">
                            <span class="label label-primary">Performing:</span>
@*                            @item.Performers[0]*@
                        </li>
                    </ul>
                </div>
            </li>
        }
    </ul>

</div>


@*            <td>*@
@*                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
@*                @Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
@*                @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
@*            </td>*@