@model IEnumerable<TSP_ASPLayer.WcfService.Festival>
@{
    ViewBag.Title = "Festival List";
}
<div class="jumbotron">
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        @item.Name
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="label label-primary">When:</span>
                            @item.DateAndTime.ToString("MMM dd, yyyy @HH:mm")
                        </li>
                        <li class="list-group-item">
                            <span class="label label-primary">Where:</span>
                            @item.Location.Name
                        </li>
                        <li class="list-group-item">
                            <span class="label label-primary">Seats:</span>
                            @item.Location.Capacity
                        </li>
                        <li class="list-group-item">
                            <span class="label label-primary">Performing:</span>
                            @foreach (var t in item.Performers)
                            {
                                <span class="label label-info">@t.Name</span>
                            }
                        </li>
                    </ul>
                </div>
            </li>
        }
    </ul>

</div>
